.navigation-items {
  width: 100%;
  margin-bottom: 20px;
  ul {
    display: flex;

    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      width: 50%;

      svg {
        vertical-align: middle;
        margin-right: 10px;
      }

      a {
        outline-color: #48dbfb;
        color: black;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        padding: 20px 10px;
        display: block;
        font-weight: 700;
        transition: background 0.2s;

        &:not(.active) {
          &:hover {
            background: #f3eafb;
          }
        }

        &.active {
          border-bottom: 3px solid #7e40af;
          color: #7e40af;
        }
      }
    }
  }
}
