.app {
  max-width: 850px;
  margin: 0 auto;
  padding: 30px;

  &-logo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 35px 0;

    img {
      height: 80px;
    }
  }

  &-content {
    display: flex;
  }

  .navigation-items {
    width: 20%;
  }

  main {
    padding: 10px 20px;
    width: 80%;
  }
}
