.app {
  max-width: 650px;
  margin: 0 auto;
  padding: 15px;

  &-logo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 35px 0;

    img {
      height: 80px;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
  }

  .navigation-items {
    width: 100%;
  }

  main {
    width: 100%;
  }
}
