@import '../../assets/styles/_colors';

.search-form {
  display: flex;
  align-items: center;
  margin: 15px 0 30px 0;
  position: relative;

  .search-label {
    width: 10%;
  }

  .search-input {
    width: 46%;
    outline-color: $secondary-color;

    margin: 0 10px;
    padding: 6px 5px;
    border-radius: 3px;
    border: 2px solid #a6aaaf;

    &:focus {
      border-color: $secondary-color;
    }
  }

  .search-button {
    width: 44%;
    outline-color: $secondary-color;

    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px 15px;

    &:hover {
      background: $primary-light-color;
    }
  }
}
