.place {
  position: relative;
  padding: 10px;

  &-title {
    max-width: 80%;
    height: 44px;
    margin-bottom: 0;
  }

  &-desc {
    margin-bottom: 20px;
    p {
      margin: 5px 0;
    }
  }

  .google-map {
    width: 100%;
    padding-bottom: 67%;
    position: relative;
    background: #fff;
    background-image: url('./Map/loading-placeholder.gif');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  &-actions {
    position: absolute;
    right: 0;
    top: 0;

    button {
      outline: none;
      background: transparent;
      border: 0;
      padding: 10px;
      margin-left: 5px;

      &:hover {
        background: #eee;
      }
    }
  }
}
