@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #1b1a20;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 460px) {
  body {
    .app {
      padding: 15px;

      &-content {
        flex-wrap: wrap;
      }
      .navigation-items {
        width: 100%;
        margin-bottom: 20px;
        ul {
          display: flex;
          li {
            width: 50%;
          }
        }
      }
      main {
        padding: 0;
        width: 100%;

        .search-input {
          width: 150px;
        }

        .spinner.lds-ring {
          left: 118px;
        }
      }
    }
  }
}
